{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-sort-imports",
    "prettier-plugin-prisma"
  ],
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "quoteProps": "as-needed",
  "experimentalTernaries": true,
  "tailwindFunctions": ["clsx"],
  "tailwindConfig": "./tailwind.config.ts"
}
