@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: 64 162 227;
    --primary-hover: 59 147 206;
    --audio-hover: 61 148 206;
    --secondary: 190 203 207;
    --secondary-hover: 162 173 177;
    --accent: 225 101 228;
    --accent-hover: 184 84 185;
    --text: 0 0 0;
    --text-hover: 5 3 0;
    --text-placeholder: 163 163 163;
    --text-subtitle: 129 129 129;
    --background: 255 255 255;
    --background-hover: 230 230 230;
    --background-menu: 247 247 247;
    --background-border: 221 221 221;
    --hover: rgba(0, 0, 0, 0.098);
    --hire-hover: rgba(255, 255, 255, 0.65);
    --code: rgba(0, 0, 0, 0.102);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 29 126 191;
    --primary-hover: 28 113 170;
    --audio-hover: 24 114 173;
    --secondary: 190 203 207;
    --secondary-hover: 176 186 189;
    --accent: 150 27 152;
    --accent-hover: 133 25 134;
    --text: 255 255 255;
    --text-hover: 253 248 240;
    --text-placeholder: 83 83 83;
    --text-subtitle: 129 129 129;
    --background: 15 15 15;
    --background-hover: 40 40 40;
    --background-menu: 27 26 26;
    --background-border: 51 50 49;
    --hover: rgba(255, 255, 255, 0.063);
    --hire-hover: rgba(0, 0, 0, 0.75);
    --code: rgba(255, 255, 255, 0.063);
    --grid: 255 255 255;
  }
}

[data-theme='light'] {
  --primary: 64 162 227;
  --primary-hover: 59 147 206;
  --audio-hover: 61 148 206;
  --secondary: 190 203 207;
  --secondary-hover: 162 173 177;
  --accent: 225 101 228;
  --accent-hover: 184 84 185;
  --text: 0 0 0;
  --text-hover: 5 3 0;
  --text-placeholder: 163 163 163;
  --text-subtitle: 129 129 129;
  --background: 255 255 255;
  --background-hover: 230 230 230;
  --background-menu: 247 247 247;
  --background-border: 221 221 221;
  --hover: rgba(0, 0, 0, 0.04);
  --hire-hover: rgba(255, 255, 255, 0.65);
  --code: rgba(0, 0, 0, 0.102);
}

[data-theme='dark'] {
  --primary: 29 126 191;
  --primary-hover: 28 113 170;
  --audio-hover: 24 114 173;
  --secondary: 190 203 207;
  --secondary-hover: 176 186 189;
  --accent: 150 27 152;
  --accent-hover: 133 25 134;
  --text: 255 255 255;
  --text-hover: 253 248 240;
  --text-placeholder: 83 83 83;
  --text-subtitle: 129 129 129;
  --background: 15 15 15;
  --background-hover: 40 40 40;
  --background-menu: 27 26 26;
  --background-border: 51 50 49;
  --hover: rgba(255, 255, 255, 0.063);
  --hire-hover: rgba(0, 0, 0, 0.75);
  --code: rgba(255, 255, 255, 0.063);
  --grid: 255 255 255;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(var(--background));
  max-height: 100lvh;
  height: 100%;
}

.customBg {
  width: 100lvw;
  height: 100lvh;
  background-image: url(/abstract-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-righteous {
  font-family: 'Righteous', cursive;
}

code,
blockquote,
.monospace {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

code {
  padding: 0.25rem 0.5rem;
  background-color: var(--code);
  border-radius: 0.5rem;
}

blockquote {
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  background-color: var(--code);
  border-radius: 0.5rem;
}

::selection {
  color: rgb(var(--text));
  background-color: rgb(var(--primary));
}

#volumeSlider {
  -webkit-appearance: none;
  -moz-apperance: none;
  appearance: none;
  cursor: pointer;
  height: 10px;
  border-radius: 0.5rem;
  border: none;
  background: transparent;
}

#volumeSlider::-webkit-slider-thumb {
  display: flex;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: -2px;
}

#volumeSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background-color: #fffc;
  border-radius: 0.5rem;
}

#volumeSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

#volumeSlider::-moz-range-track {
  width: 100%;
  height: 10px;
  background-color: #fffc;
  border-radius: 0.25rem;
}

#volumeSlider::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

#volumeSlider::-ms-track {
  width: 100%;
  height: 10px;
  background-color: #fffc;
  border-radius: 0.25rem;
}
